.divider{
    position: fixed;
    width: 100%;
    height: 50%;
    z-index: -1;
    top: 0;
    left: 0;
    background: #1E4588;
}

form{
    width: 400px;
    height: fit-content;
    background: white;
    padding: 10px 12px;
    padding: 38px 10px;
}
button:hover{
    background: #2a57a5 !important;
}

@media screen and (max-width:768px){
    form{
        width: 92%;
    }
}