.box .header{
    background: #1E4588;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    margin-bottom: -3%;
    padding-left: 10px;
    padding-right: 10px;
}

.box{
    border-radius: 15px;
    overflow: hidden;
}


a{
    text-decoration: none;
    
}

.list-group{
    transition: max-height 1s linear;
    max-height: 0;
    overflow: hidden;
    transition-delay:1s;
}

.list-group-item{
    border: 3px solid #1E4588;
    width: 100%;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  
    
}

.list-group-item:hover{
    transition: all .2s;
    background: #7898CF;
    color: #fff;
}

.list-group-item:hover a{
    color: #fff !important;
}

.box:hover .list-group{
    display: block;
    max-height: 1000px;
    transition: max-height 1s linear;
    opacity: 1;
   
} 

@media screen and ( max-width :768px){
    .container-grid-2{
        margin-top: 0 !important;
        padding-top: 0!important;
    }

    .container-grid-1{
        margin-bottom: 0 !important;
    }
}

