


@media screen and ( max-width : 768px){
    /* row for account info form */
    .account-info{
        width: 100% !important;
    }

    /* account form */
    .account-identity-form{
        flex-direction: column;
    }

    .account-identity-form p{
        margin-bottom: 8px !important;
    }

    .account-identity-form input{
        width: 100% !important;
    }

    .account-identity-form .table-responsive{
        width: 100% !important;
    }

}